<div>
  <h2>Entrar como Dono de Buffet ou Cliente?</h2>
</div>

<div>
  <%= link_to Owner.model_name.human, new_owner_session_path %>
</div>

<div>
  <%= link_to User.model_name.human, new_user_session_path %>
</div>