<div>
  <h2>Entrar como Dono de Buffet ou Cliente?</h2>
</div>

<div>
  <%= link_to Owner.model_name.human, new_owner_session_path %>
</div>

<div>
  <%= User.model_name.human %> ~ Funcionalidade ainda não implementada!
</div>

<%= link_to 'Voltar', :back %>