<div class="container mt-3">
  <h2 class="mb-4">Entrar como:</h2>

  <div class="mb-3">
    <%= link_to Owner.model_name.human, new_owner_session_path, class: "btn btn-primary" %>
  </div>

  <div class="mb-3">
    <%= link_to User.model_name.human, new_user_session_path, class: "btn btn-info"  %>
  </div>

  <%= link_to 'Voltar', :back, class: "btn btn-secondary" %>
</div>
