<div class="border-card-7" style="padding: 10px;">
  <div class="container mt-4 text-center">
    <h2>Editar Tipo de Evento</h2>

    <% if @event_type.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% @event_type.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

    <%= render 'form' %>

  <div class="row">
    <div class="col text-center">
      <%= link_to 'Voltar', @event_type, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
</div>

