<div class="container m-3 d-flex flex-column align-items-center justify-content-center">
  <h2>Editar Tipo de Evento e Preços</h2>

  <% if @event_type.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Por favor, corrija os seguintes erros:</strong>
      <ul>
        <% @event_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= render 'price_form' %>

<%= link_to 'Voltar', :back, class: "btn btn-secondary mb-3" %>
