<div class="container mt-4 text-center">
  <h1>Novo Tipo de Evento</h1>

  <% if @event_type.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Por favor, corrija os seguintes erros:</strong>
      <ul>
        <% @event_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>

<%= render 'form' %>

<div class="row">
  <div class="col text-center">
    <%= link_to 'Voltar', :back, class: "btn btn-secondary mt-3" %>
  </div>
</div>
