.border-card {
  border: 1px solid #000000;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.border-card-2 {
  border: 1px solid #000000;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.border-card-3 {
  border: 1px solid #adadad;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.border-card-4 {
  border: 1px solid #adadad;
  border-radius: 0.25rem;
  background-color: #adadad;
  padding: 5px;
  margin-bottom: 0.5rem;
}